# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/outputs/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep

# Models
*.pkl
*.joblib

# OS files
.DS_Store